.Body {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  padding-bottom: 30px;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(135, 135, 135);
}
.TempDetails {
  padding-top: 40px;
}
.temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 50px;
}
.unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;

  line-height: 1;
  top: -15px;
}
.weatherInfo {
  position: relative;
  bottom: -6px;
}
